<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="app"/>
    <springProperty name="LOGFILLE_PATH" source="logging.path" defaultValue=".log"/>

    <property name="LOG_PATH" value="${LOGFILLE_PATH}"/>
    <property name="LOG_FILE" value="${APP_NAME}"/>

    <springProfile name="local, dev, cbt, prod">
        <appender name="FILE-LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<file>${LOG_PATH}/${LOG_FILE}.log</file>-->
            <encoder>
                <Pattern>%msg %n</Pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/%d{yyyyMMdd, aux}/${LOG_FILE}.%d{yyyyMMddHHmm}.log</fileNamePattern>
                <maxHistory>22040</maxHistory>
            </rollingPolicy>
        </appender>

        <!-- AsyncAppender -->
        <appender name="FILE-ASYNC-LOGGER" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="FILE-LOGGER" />
            <queueSize>1024</queueSize> <!-- default 256 -->
            <discardingThreshold>10</discardingThreshold> <!-- default 20 -->
            <includeCallerData>false</includeCallerData>
            <neverBlock>true</neverBlock>
            <!--<maxFlushTime>1000</maxFlushTime>-->
        </appender>

        <logger name="UPLUS-LOGGER" level="INFO" additivity="false">
            <appender-ref ref="FILE-ASYNC-LOGGER" />
            <appender-ref ref="CONSOLE" />
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>
